.HomeBackground {
  height: 100%;
  padding-top: calc(var(--space-xxxl) + var(--space-md));
  background: 
    linear-gradient(to bottom, rgba(255,255,255, 0) 85%,  var(--background-color-light-gray) 98%), 
    url("../../../../../public/assets/Background\ Image\ Start\ Screen.png") 
      10% 100% / auto 70% 
      no-repeat,
    var(--background-color-light-gray);
}