.HomeBackground {
  height: 100%;
  padding-top: calc(var(--space-xxxl) + var(--space-md));
  background: 
    linear-gradient(to bottom, rgba(245, 242, 242, 0) 85%,  rgba(245, 242, 242, 1) 98%), 
    url("../../../../../public/assets/Background\ Image\ Start\ Screen.png") 
      10% 100% / auto 70% 
      no-repeat,
    #f5f2f2;
}