.HomeBackground {
  height: 100%;
  background-color: #f5f2f2;
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: 10% 100%;
  background-image: url("../../../../../public/assets/Background\ Image\ Start\ Screen.png");
}