:global :root {
  --color-pitch-black: #000;
  --color-ocean: #3c6475;
  --color-dark-ocean: #253e47;
  --background-color-black: #333;
  --background-color-light-gray: #f5f2f2;
  --typography-font-family-serif: 'Roboto Slab', serif;
  --typography-font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --typography-color-primary: #333;
  --typography-color-secondary: #818181;
  --typography-color-inverted: rgba(255, 255, 255, 0.93);
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 40px;
  --space-xxxl: 56px;
}