:global :root {
  --color-black: #333;
  --color-pitch-black: #000;
  --color-ocean: #3c6475;
  --color-dark-ocean: #253e47;
  --typography-font-family-serif: 'Roboto Slab', serif;
  --typography-font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --typography-color-primary: #333;
  --typography-color-secondary: #818181;
  --typography-color-inverted: #fff;
  --space-xs: 8px;
  --space-md: 16px;
}