.root {
  margin: 0;
}

.type-h1 {
  composes: typography-h1 from '../../theme/theme.module.css';
}

.type-h2 {
  composes: typography-h2 from '../../theme/theme.module.css';
}

.type-h4 {
  composes: typography-h4 from '../../theme/theme.module.css';
}

.color-primary {
  color: var(--typography-color-primary);
}

.color-secondary {
  color: var(--typography-color-secondary);
}

.color-inverted {
  color: var(--typography-color-inverted);
}

.align-center {
  text-align: center;
}