.root {
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: min(var(--space-xxxl) * 2, 17vh);
  padding-inline: var(--space-md);
  padding-bottom: var(--space-xxxl);
}